.link-animation {
  position: relative;
  background: linear-gradient(to left, transparent 50%, var(--dark-color) 50%) right;
  background-size: 200%;
  transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 0;
}

.link-animation:hover {
  background-position: left;
  color: var(--background-color);
}

.link-animation:hover svg {
  transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
  fill: var(--background-color);
}

.link-animation::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: var(--dark-color);
  transition: transform 0.1s ease-in-out;
  z-index: -1;
}

.link-animation:active::after {
  width: 100%;
  transform: scaleY(1.05) scaleX(1.1);
}
