.plays__title {
  width: 358px;
  margin: 0 0 48px 362px;
  font-family: 'NeueMachinaRegular', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: #242424;
}

@media screen and (max-width: 1110px) {
  .plays__title {
    margin: 0 auto 40px;
    font-size: 36px;
    line-height: 32px;
  }
}

@media screen and (max-width: 860px) {
  .plays__title {
    font-size: 33px;
    line-height: 32px;
  }
}

@media screen and (max-width: 415px) {
  .plays__title {
    margin: 0 0 32px 0;
    max-width: 100%;
    font-size: 28px;
    line-height: 32px;
  }
}
